* {
  font-family: 'Poppins';
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
}

.components {
  display: flex;
}

.button {
  box-sizing: border-box;
  width: 118px;
  height: 40px;
  left: 0px;
  font-family: "Poppins";
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 5px;
  color: white;
  background: #F9A826;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 5px;
  cursor: pointer;
}


.button:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input {
  width: 80%;
  line-height: 40px;
  font-size: 16px;
  outline-color: #4e8be7;
  background-color: rgba(25, 118, 210, 0.08);
  border: none;
  margin: 8px 0;
  border-radius: 10px;
  padding: 0 20px;
  background: #F1F1F1;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.btn_1 {
  box-sizing: border-box;
  /* position: absolute; */
  font-weight: 700;
  width: 118px;
  height: 40px;
  left: 0px;
  color: #f9a826;
  font-family: "Poppins";
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 5px;
}

.btn_1:hover,
.btn_2:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}