.profile-container{
    padding: 2.5% 5%;
}

.profile-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-container-header-title{
    display: flex;
    align-items: center;
    gap: 100px;
}

.profile-heading{
    font-size: 1.3em;
    font-weight: 600;
}

/*------------------- Profile Section 1---------------------*/

.profile-container-section-1{
    display: flex;
}

.personal-profile-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #FFD9F4;
    width: 310px;
    height: 440px;
    border-radius: 10px;
}

.profile-picture{
    height: 280px;
    width: 300px;
    border-radius: 10px;
}

.profile-name{
    margin: 4px;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2px;
}

.profile-bio{
    margin: 4px;
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 2px;
}

.preferences-container{
    background-color: #FEFFD7;
    border-radius: 10px;
    padding: 1.5% 3.5%;
    margin-left: 10px;
    flex-grow: 1;
}

.preference-tile-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preferences-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preferences-heading{
    font-size: 1.2em;
    font-weight: 500;
}

.preference-tile-label{
    font-size: 1.1em;
    font-weight: 300;
    margin: 14px;
}

.preference-tile-value{
    font-weight: 500;
    margin: 14px;
}

/* ------------------ Badges Certificate -------------------*/

.profile-badges-container{
    display:block;
    padding: 5px 10px;
    padding-bottom: 45px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: #D9DEFE;
}

.profile-labels{
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 12px;
}

.profile-badges-listview-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-badges-listview{
    display: grid;
    width: 900px;
    grid-template-columns: 33% auto 33%;
}

.badges-certificate{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 0 black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 140px;
    padding: 1% 2%;
    margin-bottom: 30px;
    transition: .4s ease-in-out;
}

.badge-certificate-icon{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.badge-certificate-title{
    font-size: 1.1em;
    font-weight: 500;
    margin: 4px;
}

.badge-certificate-subtitle{
    font-size: 0.9em;
    font-weight: 300;
    margin: 4px;
}

/* ------------------ Badges Certificate Ends -------------------*/
/* ------------------ Profile Section 3 -------------------------*/

.profile-container-section-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;    
    overflow-x: none;
}

.profile-education-container{
    background-color: #E9D3FA;
    border-radius: 10px;
    margin-top: 10px;
    padding: 1%;
    overflow-x: none;
}

.profile-education-listview{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
    padding-bottom: 20px;
    overflow-x: scroll;
}

.education-card{
    width: 400px;
    background-color: white;
    height: 180px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.education-card > p{
    margin: 4px;    
}

.experience-card-text-container > p{
    margin:4px;
}

.education-heading{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 4px;
}

.education-card-date-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.education-card-date{
    margin: 4px;    
    font-weight: 300;
}

.education-card-description{
    font-weight: 300;
    font-size: 0.9em;
}

.experience-card{
    display: flex;
    border: 1px solid black;
    align-items: center;
    background-color: white;
    padding: 4px 10px;
    border-radius: 5px;
}

.experience-card-text-container{
    width: 360px;
    height: 160px;
    padding: 10px;
}

.experience-card-company-img-container{
    width: 150px;
    height: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-card-company-img{
    width: 125px;
    height: 125px;
    object-fit: contain;
}

.profile-experience-container{
    background-color: #D9FED8;
    border-radius: 10px;
    margin-top: 10px;
    padding: 1%;
    padding-bottom: 40px;
}